a {
    cursor: pointer;
}

.full-page-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
}


.sign-in-form label{
    color: #ffffff;
    margin-bottom: 0px;
    font-weight: normal;
}

.sign-in-form .checkbox {
    line-height: 20px;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.sign-in-form .form-group {
    margin-bottom: 0px;
}

.sign-in-form .alert {
    padding: 0;
    margin-top: 5px;
}

.signed-in, .sign-in-form {
    border: 1px solid;
    background-color: #444444;
    padding-bottom: 10px;
}

.signed-in h4.name,
.sign-in-form h4.name
{
    color: #ffffff;
    padding: 0px 20px;
    text-align: center;
}

.signed-in .logout {
    background-color: #c09b7d;
}
.signed-in .logout a {
    color: #d04c2f;
    cursor: pointer;
}

.table  .additional {
    font-size: 11px;
    color: #5f5f5f;
}