<div id="app">
    <cg-header></cg-header>

    <div class="container animated fadeIn">
        <div class="page-header animated fadeIn animation-delay-3">
            <h1>Speakers</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Status</th>
                            <th>Nearest discourse</th>
                        </tr>
                        </thead>

                        <tr *ngFor="let speaker of speakers; let isEven = even; let $index = index;">
                            <td>{{$index+1}}</td>
                            <td>
                                {{speaker.firstname}} {{speaker.lastname}}
                                <div class="additional">
                                    Created at: {{speaker.created_at}} <br>
                                    Updated at: {{speaker.updated_at}}
                                </div>
                            </td>
                            <td>{{speaker.phone}}</td>
                            <td [style.color]="speaker.status.color">{{speaker.status.name}}</td>
                            <td>{{speaker.nearestDiscourse?'':'Not specified'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <cg-footer></cg-footer>
</div>