<div id="app">
    <cg-header></cg-header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Speeches</h1>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>#</td>
                            <td>Name</td>
                            <td>Nearest discourse</td>
                        </tr>

                        <tr *ngFor="let speech of speeches; let isEven = even; let $index = index;">
                            <td>{{$index+1}}</td>
                            <td>
                                {{speech.name}}
                                <div class="additional">
                                    Created at: {{speech.created_at}} <br>
                                    Updated at: {{speech.updated_at}}
                                </div>
                            </td>
                            <td>{{speech.nearestDiscourse?'':'Not specified'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>