<div id="app">
    <cg-header></cg-header>

    <div class="container discourse animated fadeIn">
        <div class="page-header">
            <div class="row">
                <div class="col-md-7 col-sm-9 col-xs-12 text-left">
                    <h1 class="pageHeading">
                        {{discourse?.getTime() | date:'MMMM'}} <strong>{{discourse?.getTime() | date:'Do'}}</strong> {{discourse?.getTime() | date:'YYYY'}} at {{discourse?.getTime() | date:'HH:mm'}}
                        <div class="visible-xs-inline-block mobile-buttons animated fadeInDown animation-delay-10">
                            <a (click)="back()" class="btn btn-default text-left">
                                <i class="glyphicon glyphicon-menu-left"></i> Back
                            </a>
                        </div>
                    </h1>
                </div>
                <div class="col-md-5 col-sm-3 hidden-xs text-right">
                    <div class="animated fadeInDown animation-delay-10">
                        <a (click)="back()" class="btn btn-default text-left">
                            <i class="glyphicon glyphicon-menu-left"></i> <span class="hidden-xs hidden-sm">Back</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <div class="searchSpeaker">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <input type="text" class="form-control" [(ngModel)]="speakerName" placeholder="Please enter the speaker's name" (ngModelChange)="reloadSpeakers()">
                        </div>
                        <div class="col-md-6 col-xs-6">
                            or <a href="/" class="btn btn-link">Favorites</a>  <a href="/" class="btn btn-link">Debtors</a>
                        </div>
                    </div>
                    <div class="row" *ngFor="let speaker of speakers">
                        <div class="col-md-12 speaker">
                            {{speaker.firstname}} {{speaker.lastname}}
                        </div>
                    </div>
                    <div class="row" *ngFor="let speaker of favorites">
                        <div class="col-md-12 speaker">
                            {{speaker.firstname}} {{speaker.lastname}}
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5" *ngIf="discourse">
                <cg-discourse-history [discourse]="discourse"></cg-discourse-history>
            </div>
        </div>

    </div>

    <cg-footer></cg-footer>
</div>